In [ ]:
### *** MODULE 2 PART 6 *** ###
# *** LIST PROPERTIES *** #

# Tuples should be used for heterogenous (different) data types and lists for homogenous data types

In [1]:
# empy list
my_list = []

# list of integers
my_list = [1,2,3]

# list with mixed datatypes
my_list = [1,"Hello",3.4]

# nested list
my_list = ["mouse", [8,4,6], ['a']]

In [2]:
list("abc")

['a', 'b', 'c']

In [3]:
list ((1,2,3))

[1, 2, 3]

In [4]:
list([1,3,5,7,9])

[1, 3, 5, 7, 9]

In [5]:
empty_list = []
another_empty_list = list()

print(len(empty_list))

print(len(another_empty_list))

0
0

In [6]:
#Convert a string of one word to a list of characters

list("house")

['h', 'o', 'u', 's', 'e']

In [7]:
#Convert a string of words in to a list of characters
list("This word")

['T', 'h', 'i', 's', ' ', 'w', 'o', 'r', 'd']

In [8]:
#COnvert a tuple to a list

aTuple = ('ready','fire','aim')

list(aTuple)

['ready', 'fire', 'aim']

In [9]:
#Convert a STRING of words into a LIST of words: Using split() to chop the string with ' ' as separator

aStringOfWords = "This is a string of words"

aList = aStringOfWords.split(' ')

print(aList)

['This', 'is', 'a', 'string', 'of', 'words']

In [10]:
#Convert a string to a list: Using split() to chop the string with some separator

aDayString = "5/1/2017"

aList = aDayString.split('/')

print(aList)

['5', '1', '2017']

In [12]:
### Create Lists by Using List Comprehension and Slicing an Existing List ###

l_lists = [[1,2,3],[2,3,4],[3,4,5]]

# NOTES: MUST use list slice --> CANNOT use any other fuction to delete/remove
new_llists = [element[1:] for element in l_lists]

i = 0
for element in new_llists:
    print(element)
    i = i + 1
    if i ==3:
        break

[2, 3]
[3, 4]
[4, 5]

In [ ]:
### USING INDEXING AND ACCESSING SINLE ELEMENTS IN A LIST ###

In [4]:
my_list = ['p','r','o','b','e']

# OUTPUT: p
print(my_list[0])

# OUTPUT: o
print(my_list[2])

# OUTPUT: e
print(my_list[4])

# Nested List
n_list = ["Happy", [2,0,1,5]]

# Nested indexing
          
# OUTPUT: a
print(n_list[0][1])
          
# OUTPUT: 5
print(n_list[1][3])

p
o
e
a
5

In [5]:
# Access using forward index

aTuple = ('ready', 'fire', 'aim')
aList = list(aTuple)
print(aList)
print("Lenght of the list:", len(aList))

list_element_1 = aList[0]
list_element_2 = aList[1]
list_element_3 = aList[2]
print(list_element_1)
print(list_element_2)
print(list_element_3)

['ready', 'fire', 'aim']
Lenght of the list: 3
ready
fire
aim

In [6]:
# Access using backward index

aTuple = ('ready', 'fire', 'aim')
aList = list(aTuple)
print(aList)
print("Lenght of the list:", len(aList))

list_element_last = aList[-1]
list_element_next_to_last = aList[-2]
list_element_first = aList[-3]
print(list_element_last)
print(list_element_next_to_last)
print(list_element_first)

['ready', 'fire', 'aim']
Lenght of the list: 3
aim
fire
ready

In [11]:
### NOTE DIFFERENCE IN PRINT LANGUAGES ###

languages = ["Python", "C", "C++", "Java", "Perl"]

print(languages[0] + " and " + languages[1] + " are quite different!")

Python and C are quite different!

In [10]:
languages = ["Python", "C", "C++", "Java", "Perl"]

print(languages)

['Python', 'C', 'C++', 'Java', 'Perl']

In [12]:
### ACCESS A SLICE OF A LIST ###

# We can access a range of items in a list by using the slicing operator (colon).

my_list = ['p','r','o','g','r','a','m','i','z']

# elements 3rd to 5th
print(my_list[2:5])

# elements fisrt to 4th
print(my_list[:-5])

# elements 6rd to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

print(my_list)

['o', 'g', 'r']
['p', 'r', 'o', 'g']
['a', 'm', 'i', 'z']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

In [14]:
### MODIFY LISTS TO CHANGE OR ADD ELEMENTS ###

odd = [2,4,6,8]

#change the 1st item
odd[0] = 1

#OUTPUT should be [1,4,6,8]
print(odd)

#change 2nd to 4th items
odd[1:4] = [3,5,7]

#OUTPUT should be [1,3,5,7]
print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

In [16]:
### ADD OR INSERT SINGLE ITEMS TO THE END OF A LIST ###

# We can add one item to a list using append() method
# or add several items using extend()

odd = [1,3,5]

odd.append(7)

#OUTPUT should be [1,3,5,7]
print(odd)

odd.extend([9,11,13])

#OUTPUT SHOULD NOW BE [1,3,5,7,9,11,13]
print(odd)

[1, 3, 5, 7]
[1, 3, 5, 7, 9, 11, 13]

In [23]:
### INSERT SIGNLE ELEMENTS OR SUB LISTS IN THE MIDDLE OF AN EXISTING LIST ###


# We can insert one item at a desired location by using the method .insert()
odd = [1,9]
odd.insert(1,3)

#OUTPUT inserts the 3 one character into the list
print(odd)

# We can insert mutliple items by squeezing it in to a empty slice of a list.
odd[2:2] = [5,7]

#OUTPUT SHOULD BE [1,3,5,7,9]
print(odd)

[1, 3, 9]
[1, 3, 5, 7, 9]

In [25]:
### INSERT SIGNLE ELEMENTS OR SUB LISTS IN THE MIDDLE OF AN EXISTING LIST ###
### Additional examples ###

## We can insert one item at a desired location by using the method .insert()

odd = [1,9]
odd.insert(1,3)

# OUTPUT inserts the 3 one character into the list from the left
print(odd)

# OUTPUT inserts the 5.5 two character into the list from the left
odd.insert(2,5.5)
print(odd)

[1, 3, 9]
[1, 3, 5.5, 9]

In [28]:
### DELETE OR REMOVE ELEMENTS FROM A LIST USING DEL ###

# We can delete one or more items from a list using the keyword del.

my_list = ['p','r','o','b','l','e','m']

# delete one item by specifying to delete after skipping the first two characters in the list
# note that del does NOT delete the element numbered in the del statement, but +1 after
del my_list[2]

# OUTPUT should be:  ['p','r','b','l','e','m']
print("3rd element has been removed: ", my_list)

# delete multiple items
del my_list[1:5]

# OUTPUT should be ['p','m']
print("Elements from index 1 until 4 have been removed ", my_list)

3rd element has been removed:  ['p', 'r', 'b', 'l', 'e', 'm']
Elements from index 1 until 4 have been removed  ['p', 'm']

In [35]:
### DELETE OR REMOVE ELEMENTS FROM A LIST USING .remove() and .pop() ###

## .remove() method to remove the given item or pop() method to remove an item that is specified
## .pop() method removes and returns the last item if index is not provided.
# This helps us implement lists as stacks (first in, last out data structure).
# We can also use the clear() method to empty a list completely.

my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')

# OUTPUT should be ['r','o','b','l','e','m']
print(my_list)

# OUTPUT should be 'o'
# here you can see using the .pop() function will remove the element of the list that is the 1st from the start
print(my_list.pop(1))


# OUTPUT should be ['r','b','l','e','m']
print(my_list)

# OUTPUT should be 'm'
# here the .pop function is used with no paramaters to remove the last item
print(my_list.pop())

# OUTPUT should be ['r','b','l','e']
print(my_list)

['r', 'o', 'b', 'l', 'e', 'm']
o
['r', 'b', 'l', 'e', 'm']
m
['r', 'b', 'l', 'e']

In [39]:
### DELETE OR REMOVE ELEMENTS FROM A LIST BY ASSIGNING AN EMPTY LIST TO A SLICE OF A LIST ###
# By setting a specified slice of list to equal a blank list you are basically deleting those elements.

my_list = ['p','r','o','b','l','e','m']

# Remove 'o'
my_list[2:3] = []

print(my_list)

# Remove 'b' 'l' 'e'
my_list[2:5] = []

print(my_list)

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'r', 'm']

In [41]:
### DELETE/REMOVE ALL ELEMENTS FROM A LIST USING .clear() FUNCTION ###

my_list = ['p','r','o','b','l','e','m']
print(my_list)


my_list.clear()

# OUTPUT should be blank : []
print(my_list)

['p', 'r', 'o', 'b', 'l', 'e', 'm']
[]

In [50]:
### COPYING LISTS - SHALLOW COPY ###
# A shallow copy will only copy the refernce to the object, A NEW OBJECT IS NOT CREATED.
# An assignment using = on lists will not copy, it will make two variables point at the same list in memory

# initializing list 1
list1 = [1,2,[3,5],4]

# using shallow copy
list2 = list1

# the lists referer to the same object and return the same values

print(id(list1))
print(id(list2))

print(list1)
print(list2)

2534721874760
2534721874760
[1, 2, [3, 5], 4]
[1, 2, [3, 5], 4]

In [51]:
### COPYING LISTS - DEEP COPY ###
# Deep copies will create a new oject on completion.
# .deepcopy() is the function keyword

# importing "copy" for copy operations
import copy

# initializing list 1
list1 = [1,2,[3,5],4]

# using .deepcopy() to copy to new object
list2 = copy.deepcopy(list1)

# The list refers to different objects, different id values
id(list1), id(list2)

(2534724490312, 2534721140872)

In [54]:
### DELETE ENTIRE LIST, NOT JUST ELEMENTS ###
# to delete a list use the del() function

list1 = [1,2,[3,5],4]

print(list1)

del(list1)

print("list1 has been deleted.")

print(list1)

[1, 2, [3, 5], 4]
list1 has been deleted.

NameError: name 'list1' is not defined

In [ ]:
### OPERATIONS ON LISTS ###
# concatenate lists using +
# replecate lists using *
# test elements using "in" and "not in"
# compare lists using <,>,<=,==, !=
   # == is to test if they are the same ojbect
   # != is not equals
# iterate using for loop FOR x IN xxxx
# sort lists using list.sort()

In [57]:
# Concatenate to print all list values
list1 = [1,2,[3,5],4]
list2 = ["Hello", "World"]
print(list1 + list2)

# Concatenate to 'combine' two lists, this combo is only in the results does not change the actual list object
odd =[1,3,5]
print(odd + [9,7,5])

[1, 2, [3, 5], 4, 'Hello', 'World']
[1, 3, 5, 9, 7, 5]

In [61]:
# Replicate Lists
# The * operator repeats a list for a defined # of times.

aList = [1,2]
print(aList * 3)

# Can replicate defined values not only lists
# lists will always include the comma spaces
# print("re" * 3) would return "rerere"
print(["re"] * 3)

[1, 2, 1, 2, 1, 2]
['re', 're', 're']

In [63]:
# Test List Elements with 'in' and 'not in'
#### NEED TO ADD MORE DETAIL ####

list1 = [1,2,[3,5],4]
print(2 in list1)
print([3] in list1)

True
False

In [64]:
#Compare values in lists using <,>,<=,==, !=

list1 = [1,2,[3,5],4]
list2 = [1,2,4]
print(list1 == list2)

False

In [65]:
# Iterate using for loop FOR x IN xxxx
#### NEED TO ADD MORE DETAIL AND EXAMPLES ON HOW THIS WORKS ####



list1 = [1,2,[3,5],4]
for i in list1:
    print(i)

1
2
[3, 5]
4

In [66]:
list1 = [1,2,[3,5],4]

for i in list1:
    print(i, end = "")

12[3, 5]4

In [68]:
list1 = [1,2,[3,5],4]

for i in list1:
    print(i,end = "\n")

1
2
[3, 5]
4

In [69]:
for fruit in ['apple','banana','mango']:
    print("I like", fruit)

I like apple
I like banana
I like mango

In [70]:
# Sort lists using list.sort()
# if any comparison operations in this fail, the list will be left in a partially modified state

# vowels list
vowels = ['e','a','u','o','i']

# sort the vowels, this will sort them alphabetically 
vowels.sort()

#print the vowel list after sort
print('Sorted list:', vowels)

Sorted list: ['a', 'e', 'i', 'o', 'u']

In [72]:
# if you use the sorted() function to create a new list it will create a new object instead of modifiying the orginal

# vowels list
vowels = ['e','a','u','o','i']

# sort the vowels, this will sort them alphabetically 
sortedVowels = sorted(vowels)

#print vowles
print('Sorted List:', sortedVowels)

# A new list has been created and returend by the built in sorted function
id(vowels), id(sortedVowels)

Sorted List: ['a', 'e', 'i', 'o', 'u']

(2534721141960, 2534724749768)

In [73]:
# Other Helpful Methods

list1 = ['a','p','p','l','e']

# Count the # of character 'p'
# OUTPUT should be 2

print(list1.count('p'))

2

In [75]:
# .index() will return the index of the first element that is equal to defined

list1 = ['a','p','p','l','e']

print(list1.index('p'))

1

In [ ]:
### *** MODULE 2 PART 7 *** ###
# *** RANGE PROPERTIES *** #
# Ranges are immutable sequences of data
# Ranges ALWAYS take the same amount of memory

# Uses syntax of range(start,stop,step)

In [1]:
range(10)

range(0, 10)

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
list(range(0,30,5))

[0, 5, 10, 15, 20, 25]

In [5]:
list(range(0,10,3))

[0, 3, 6, 9]

In [6]:
list(range(0,-10,-1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [8]:
list(range(0))

[]

In [9]:
list(range(1,0))

[]

In [ ]:
### *** MODULE 2 PART 8 *** ###
# *** STRING PROPERTIES *** #
# Python treats single quotes the same as double quotes ' "" '
# Assign a value to a variable with quotes to create a string

In [10]:
aStr = "Hello"
print(aStr)

aStr2 = 'Hello'
print(aStr2)

Hello
Hello

In [11]:
# len() built in function can count the number of characters in a defined string.

# Declare a string

aStr = 'This is a string.'
print("The lenght of this string - or the number of characters: ", len(aStr))

The lenght of this string - or the number of characters:  17

In [12]:
aStr = 'This is a string.'
print('The lenght of this string: ', len(aStr))

# Strings are a sequence data type, and can use indices to specify locations in the string.
# Like all sequences in Python the indicies of a string always start with zero.
print(aStr[0])
print(aStr[1])
print(aStr[16])

The lenght of this string:  17
T
h
.

In [13]:
# Example showing the result if the index location is beyond the scope of the string.

aStr = 'This is a string.'

print(aStr[17])

IndexError: string index out of range

In [14]:
# All lof the following are equivalent

my_string = 'Hello'
print(my_string)

my_string2 = "Hello"
print(my_string2)

my_string3 = '''Hello'''
print(my_string3)

# Triple quotes strings can extend multiple lines

my_string4 = """Hello. Welcome to
        Python World!"""
print(my_string4)

Hello
Hello
Hello
Hello. Welcome to
        Python World!

In [16]:
# Creating strings from Lists using .join()
# xxx.join(listname)
# Version 1: List of strings --> A string

aList = ['This', 'is', 'a', 'string']
print("This is a list: ", aList)

aString = " ".join(aList)

# aString is a string: "This is a string"

print(aString)

This is a list:  ['This', 'is', 'a', 'string']
This is a string

In [18]:
# Creating Strings from Lists using str() and join()
# Version 2: List of Numbers --> A string

# A list of numbers
aList = [20,30,40,50,60]

# Convert aList into a list of strings - Using the constrcutor str()
aStrList = [str(element) for element in aList]
print("This is a list of strings: ", aStrList)

# Using joiun() to create a new string
aString = " ".join(aStrList)

#aString = "20 30 40 50 60"
print("This is a string: ", aString)

This is a list of strings:  ['20', '30', '40', '50', '60']
This is a string:  20 30 40 50 60

In [20]:
# Creating Strings from Lists using map() and join()
# Generate the combination from the list
# Then transform each element of the list into a string

### NEED TO ADD MORE DETAIL ON THIS ONE ####

from itertools import combinations
L = [1,2,3,4]
print(combinations(L,3))

# Using map() and join() to convert each numeric combination into a string
# Thanks to this technique, we can display the list of combinations
[",".join(map(str, comb)) for comb in combinations(L,3)]

<itertools.combinations object at 0x000001B5EA3EAEF8>

['1,2,3', '1,2,4', '1,3,4', '2,3,4']

In [22]:
### ACCESS CHARACTERS IN STRINGS ###
# Python allows negative indexing for its sequences.
# The index of -1 refers to the last item, -2 to the second to last item and so on
# We can access a range of items in a string by using the slicing operator (colon)

str = 'programiz'
print('str = ', str)

# First character
print('str[0] = ', str[0])

# Third character
print('str[2] = ', str[2])

# Last character
print('str[-1] = ', str[-1])

str =  programiz
str[0] =  p
str[2] =  o
str[-1] =  z

In [23]:
# Access a slice of strings

str ='programiz'

# Slicing 2nd to 5th character
print('str[1:5] = ', str[1:5])

# Slicing 6th to 2nd to last character
print('str[5:-2] = ', str[5:-2])

sample_str = 'Python String'
print(sample_str[3:5])   # Print a range of characters from index 3 to index 4
print(sample_str[7:])   # Print ALL characters from index 7
print(sample_str[:6])   # Print ALL characters before index 6
print(sample_str[7:-4])   # Print a range of characters from index 7 to index -4

str[1:5] =  rogr
str[5:-2] =  am
ho
String
Python
St

In [24]:
### MODIFY STRINGS ###
# Cant do it, strings are immutable and cannot be changed after being created

sample_str = 'Python String'
sample_str[2] = 'a'

TypeError: 'str' object does not support item assignment

In [25]:
# Althoug a string can't be changed they can be reassigned with a new string

str1 = "This is a string."
print("str1: ",str1)

# Reassign a new tuple to tuple1
str1 = "This is a new string."

print("str1 after being reassigned: ", str1)

str1:  This is a string.
str1 after being reassigned:  This is a new string.

In [26]:
# Shallow Copy on strings will only copy the reference and does not create a new object in Pythong

str1 = "Hello"
str2 = str1

# Both the strings will refer to the same object and share the same id value
id(str1), id(str2)

(1880829132616, 1880829132616)

In [ ]:
# Deep Copy CANNOT be preformed on strings

In [27]:
# Delete strings using del()

sample_str = "Python is the best scripting language."
print(sample_str)

# After del() is run the string no longer exists to be printed to screen
del(sample_str)
print(sample_str)

Python is the best scripting language.

NameError: name 'sample_str' is not defined

In [28]:
# Concatenate on Strings use +

str1 = "Hello"
str2 = " "
str3 = "World!"

# use + to concatenate
print('str1 + str2 + str3 = ', str1 + str2 + str3)

str1 + str2 + str3 =  Hello World!

In [29]:
# Replication of Strings using *

str = "Hello"

replicatedStr = str * 3

print("The string has been replicated three times: ", replicatedStr)

The string has been replicated three times:  HelloHelloHello

In [30]:
# Testing substrings using "in" and "not in" to search strings

str1 = "Welcome"
print("come" in str1)
print("come" not in str1)

True
False

In [31]:
# Comparing strings using value comparison <,>,=<, == ect
# Can be

# TRUE: "apple" comes before "banana"
print("apple" < "banana")
print("apple" < "Apple")

print("apple" == "Apple")

True
False
False

In [32]:
# Iterate strings using FOR loops

aStr = "Hello"

for i in aStr:
    print(i)

H
e
l
l
o

In [33]:
aStr = "Hello"

for i in aStr:
    print(i, end="")

Hello

In [34]:
aStr = "Hello"

for i in aStr:
    print(i, end='\n')

H
e
l
l
o

In [39]:
# Test strings
# .isalnum() returns True if string is alphanumeric DOES NOT INCLUDE SPACE or UNDERSCORE

s = 'welcome to python'
s.isalnum()

False

In [40]:
r = 'welcome_to_python'
r.isalnum()

False

In [42]:
q = 'welcometopython'
q.isalnum()

True

In [43]:
# .isalpha() returns True if string is only alphabets

"Welcome".isalpha()

True

In [44]:
# .isidentifier()

"first number".isidentifier()

False

In [45]:
# .isupper()

"WELCOME".isupper()

True

In [46]:
# .islower()

"Welcome".islower()

False

In [47]:
# .islower()

s.islower()

True

In [48]:
# .isspace()

" \t".isspace()

True

In [49]:
# .count() will count the # of elements in a string that are equal to ()

str1 = "This is a string: Hello ... Hello Python World!"

print(str1.count("Hello"))

2

In [50]:
# index 

str1 = "This is a string: Hello ... Hello Python World!"

print(str1.index('s'))

3

In [ ]:
### *** MODULE 2 PART 9 *** ###
# *** TUPLE PROPERTIES *** #
# Tuples inclose data in () parentheses instead of square brackets
# Tuples are faster than lists
# Tuples are immutable sequences data type and cannot be changed after being created
# Tuples cannot have elements added or removed after creation
# Tuples can be used as keys in dictionaies, lists cannot
# Tuples should be used for heterogenous (different) data types and lists for homogenous data types
# Work similar to lists and strings using len() to lenght, [] brackets to access data, first element is 0

In [1]:
t = ("tuples", "are", "immutable")
t[0]

'tuples'

In [2]:
t = ("tuples", "are", "immutable")
print(t[0])
print(t[-1])
print(t[-3])

print(len(t))

tuples
immutable
tuples
3

In [3]:
# Constructing Tuples

# empty tuple
# OUTPUT should be : ()

my_tuple = ()
print(my_tuple)

()

In [4]:
# tuple with integers
# OUTPUT should be : (1,2,3)

my_tuple = (1,2,3)
print(my_tuple)

(1, 2, 3)

In [6]:
# tuple with mixed data types
# OUTPUT should be : (1, "Hello", 3.4)

my_tuple = (1,"Hello",3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [7]:
# nested tuple
# OUTPUT should be: ("mouse", [8,4,6], (1,2,3))

my_tuple = ("mouse", [8,4,6], (1,2,3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [10]:
# Creating a tuple with only a single element
# why would you want to do this?

#only parentheses is not enough
# OUTPUT should be : <class 'str'>
# showing that is just just creating a string

my_tuple = ("hello")
print(type(my_tuple))

<class 'str'>

In [11]:
# need comma at the end to create the actual tuple with a single element
my_tuple = ("hello",)
print(type(my_tuple))

<class 'tuple'>

In [12]:
# parentheses is actually optional

my_tuple = "hello",
print(type(my_tuple))

<class 'tuple'>

In [17]:
# Accessing single elements of Tuples with index

my_tuple = ('p','e','r','m','i','t')

# OUTPUT should be : 'p'
print(my_tuple[0])

# OUTPUT should be : 't'
print(my_tuple[5])

# nested tuple
n_tuple = ("mouse", [8,4,6], (1,2,3))

# nested index
# OUTPUT should be : 's'
print(n_tuple[0][3])

# nested index
# OUTPUT should be : '4'
print(n_tuple[1][1])


### WHY DOES THIS RETURN 4 I NEED TO REVIEW ###

p
t
s
4

In [18]:
my_tuple = ('p','e','r','m','i','t')

len(my_tuple)

6

In [19]:
my_tuple = ('p','e','r','m','i','t')

# OUTPUT should be 't' -1 returns the last in the tuple/list
print(my_tuple[-1])

# OUTPUT should be 'p' 6th from the last which is the first
print(my_tuple[-6])

t
p

In [21]:
my_tuple = ('p','e','r','m','i','t')

# Range of the indices: 0 .. len(my_tuples) - 1: 0 .. 6

# index must be in range
# ERROR: out of range result if its greater than the tuple # of elements
# this tuple has 6 elements, [6] will return the 7th element


print(my_tuple[6])

IndexError: tuple index out of range

In [30]:
# ACCESSING A SLICE OF TUPLES

my_tuple = ('p','r','o','g','r','a','m','i','z')

# return elements 2nd to 4th
print(my_tuple[1:4])

# return elements beginning to 2nd
print(my_tuple[:-7])

# return elements 8th to end
print(my_tuple[7:])

# return elements beginning to end
print(my_tuple[:])

('r', 'o', 'g')
('p', 'r')
('i', 'z')
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [33]:
# MODIFY TUPLES
# Tuples are immutable objects and all elements (integers, float, strings) cannot be changed
# Any attempt to change will lead to errors

aTuple = ('Python', 'C', 'C++', 'Java', 'Scala')

aTuple[2] = 'Ruby'

TypeError: 'tuple' object does not support item assignment

In [34]:
# However if the element itself is a mutable datatype like a list its nested items can be changed

my_tuple = (4,2,3,[6,5])

my_tuple[3][0] = 9

print(my_tuple)

(4, 2, 3, [9, 5])

In [35]:
# You cannot change elements within a tuple but you can reassign to a brand new tuple

tuple1 = (4,2,3,[6,5])
print("tuple1", tuple1)

# Reassign a new tuple to the object 'tuple1'
my_tuple = ('p','r','o','g','r','a','m','i','z')
tuple1 = my_tuple

print("tuple1 after being reassigned:", tuple1)

tuple1 (4, 2, 3, [6, 5])
tuple1 after being reassigned: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [41]:
# Shallow Copy on Tuples
# using = (shallow copy) on tuples will make the two variables point to the same tuple in MEMORY

tuple1 = "hello",
tuple2 = tuple1

print(type(tuple1))
print(id(tuple1), id(tuple2))

<class 'tuple'>
2354284920728 2354284920728

In [ ]:
# Deep Copy on Tuples
# Tuples CANNOT BE DEEP COPIED BECAUSE THEY ARE IMMUTABLE

In [42]:
# Deleting Tuples
# .del() to delete

aTuple = "Python is the best scripting language.",
print(type(aTuple))

del(aTuple)
print(aTuple)

<class 'tuple'>

NameError: name 'aTuple' is not defined

In [44]:
# Operations on Tuples

tuple1 = 'Hello', #command to make sure it creates data type tuple
tuple2 = ' ',
tuple3 = 'World!',

# concatenate using +
print('tuple1 + tuple2 + tuple3 = ',tuple1 + tuple2 + tuple3)

tuple1 + tuple2 + tuple3 =  ('Hello', ' ', 'World!')

In [45]:
# Replicate tuples

tuple1 = 'Hello',
replicatedTuple = tuple1 * 3

print(replicatedTuple)

('Hello', 'Hello', 'Hello')

In [46]:
# Testing for elements using IN and NOT IN

aTuple = (2,4,6, "This", "is", "a", "tuple")

print(2 in aTuple)
print('a' in aTuple)
print('This is' in aTuple)

True
True
False

In [47]:
# Compare operatings with Tuples

tuple1 = "Hello World!",
tuple2 = "hello world!",
print(tuple1 == tuple2)

False

In [52]:
# Iterate a tuple using a FOR loop

tuple1 = ("This", "is", 1, "book")
print(type(tuple1))

for i in tuple1:
    print(i)

<class 'tuple'>
This
is
1
book

In [53]:
# Iterate a tuple using a FOR loop

tuple1 = ("This", "is", 1, "book")

for i in tuple1:
    print(i, end="")

<class 'tuple'>
Thisis1book

In [54]:
# Iterate a tuple using a FOR loop

tuple1 = ("This", "is", 1, "book")

for i in tuple1:
    print(i, end="\n")

This
is
1
book

In [59]:
# Helpful Methods using Tuples
# .count()
# .index()

my_tuple = ('a','p','p','l','e',)
print(type(my_tuple))
print(my_tuple.count('p'))

print(my_tuple.index('l'))

<class 'tuple'>
2
3